

.loading-container {
    margin: auto;
    padding: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Use viewport units */
    height: 100vh; /* Use viewport units */
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
  }

  .series img{
    width: 100%;
    height: 300px;
    margin-top: 15px;
    box-shadow: -4px 4px 5px 0 #000;
    cursor: pointer;
    transition: transform 0.3s ease
}
.series img:hover{
    transform: translateY(-10px);
    opacity: 0.5;
    transform: scale(1.1);
}
  
 
  
  